.product-list {
  background-color: red;
  background-color: var(--box-background-color);
  padding: 0rem 1.5rem;
}

.product-list-item:not(:first-child) {
  border-top: 1px solid var(--box-line-color);
}